<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bytesmart.webadmin.mapper.BytesmartTasksMapper">

    <resultMap type="com.bytesmart.webadmin.domain.BytesmartTasks" id="BytesmartTasksResult">
        <id     property="taskId"        column="task_id"       />
        <result property="taskTitle"      column="task_title"     />
        <result property="taskDescr"    column="task_descr"     />
        <result property="taskProgress"      column="task_progress"     />
        <result property="status"      column="status"     />
        <result property="initiatorId"      column="initiator_id"     />
        <result property="enddate"      column="enddate"     />
        <result property="startdate"      column="startdate"     />
        <result property="taskAf"      column="task_af"     />
        <result property="createTime"    column="create_time"   />
        <result property="updateTime"    column="update_time"   />
        <result property="remark"        column="remark"        />
        <collection  property="employeeList"   javaType="java.util.List"  resultMap="BytesmartEmployeeResult" />
    </resultMap>

    <resultMap type="com.bytesmart.apisystem.domain.BytesmartEmployee" id="BytesmartEmployeeResult">
        <id     property="employeeId"            column="employee_id"      />
        <result property="deptId"                column="dept_id"      />
        <result property="userName"              column="username"    />
        <result property="employeeName"          column="employee_name"    />
        <result property="employeeenglishName"   column="employee_english_name"    />
        <result property="employeeEmail"         column="employee_email"        />
        <result property="employeeWeight"       column="employee_weight"  />
        <result property="employeeGender"        column="employee_gender"  />
        <result property="employeeIsmarital"     column="employee_ismarital"  />
        <result property="employeeNo"           column="employee_no"  />
        <result property="employeeAge"          column="employee_age"  />
        <result property="password"              column="password"  />
        <result property="employeeType"          column="employee_type"  />
        <result property="employeeMobile"        column="employee_mobile"    />
        <result property="officePhone"           column="office_phone"     />
        <result property="employeeBirthdate"     column="employee_birthdate"   />
        <result property="employmentDate"        column="employment_date"    />
        <result property="employeeAddress"       column="employee_address"    />
        <result property="employeeAvatar"        column="employee_avatar"    />
        <result property="employeeStatus"        column="employee_status"     />
        <result property="delFlag"               column="del_flag"     />
        <result property="loginIp"               column="login_ip"     />
        <result property="loginDate"             column="login_date"   />
        <result property="createBy"              column="create_by"    />
        <result property="createTime"            column="create_time"  />
        <result property="updateBy"              column="update_by"    />
        <result property="updateTime"            column="update_time"  />
        <result property="remark"                column="remark"       />
    </resultMap>

<!--    <sql id="selectTaskBo">-->
<!--        select task_id, task_title, task_descr, task_progress, status, initiator_id, enddate, startdate, task_af, create_time, update_time, remark-->
<!--		from bytesmart_tasks-->
<!--    </sql>-->

    <sql id="selectTaskVo">
        select t.task_id, t.task_title, t.task_descr, t.task_progress, t.status, t.initiator_id, t.enddate, t.startdate, t.task_af, t.create_time, t.update_time, t.remark,
         e.employee_id, e.dept_id, e.username, e.employee_name, e.employee_english_name, e.employee_email, e.employee_avatar, e.employee_mobile, e.employee_weight, e.employee_no, e.employee_age, e.employee_type, e.password, e.employee_address, e.employee_type, e.office_phone, e.employee_birthdate, e.employment_date, e.employee_ismarital, e.employee_status, e.del_flag, e.login_ip, e.login_date, e.create_by, e.create_time, e.remark
        from bytesmart_tasks t
		    left join bytesmart_tasks_assigned ta on t.task_id = ta.task_id
		    left join bytesmart_employee e on e.employee_id = ta.assigned_id
    </sql>

<!--    <select id="selectTaskAll" resultMap="BytesmartTasksResult">-->
<!--        <include refid="selectTaskBo"/>-->
<!--    </select>-->

    <select id="selectTaskList" parameterType="com.bytesmart.webadmin.domain.BytesmartTasks" resultMap="BytesmartTasksResult">
        <include refid="selectTaskVo"/>
        <where>
            <if test="taskId != null and taskId != 0">
                AND task_id = #{taskId}
            </if>

            <if test="taskTitle != null and taskTitle != 0">
                AND task_title = #{taskTitle}
            </if>

            <if test="taskDescr != null and taskDescr != ''">
                AND task_descr like concat('%', #{taskDescr}, '%')
            </if>

            <if test="taskProgress != null and taskProgress != ''">
                AND task_progress like concat('%', #{taskProgress}, '%')
            </if>

            <if test="status != null and status != ''">
                AND status like concat('%', #{status}, '%')
            </if>

            <if test="initiatorId != null and initiatorId != ''">
                AND initiator_id like concat('%', #{initiatorId}, '%')
            </if>

<!--            <if test="params.beginTime != null and params.beginTime != ''">&lt;!&ndash; 开始时间检索 &ndash;&gt;-->
<!--                AND date_format(e.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')-->
<!--            </if>-->
<!--            <if test="params.endTime != null and params.endTime != ''">&lt;!&ndash; 结束时间检索 &ndash;&gt;-->
<!--                AND date_format(e.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')-->
<!--            </if>-->
        </where>

        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>

    <select id="selectTaskBytaskId" parameterType="long" resultMap="BytesmartTasksResult">
        <include refid="selectTaskVo"/>
        where t.task_id = #{taskId}
    </select>

    <select id="selectTaskByTaskTitle" parameterType="string" resultMap="BytesmartTasksResult">
        <include refid="selectTaskVo"/>
        where t.task_title = #{taskTitle}
    </select>

<!--    <select id="selectTaskByinitiatorId" parameterType="string" resultMap="BytesmartTasksResult">-->
<!--        <include refid="selectTaskVo"/>-->
<!--        where t.initiator_id = #{initiatorId}-->
<!--    </select>-->



</mapper>
