<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bytesmart.webadmin.mapper.BytesmartPostMapper">

	<resultMap type="BytesmartPost" id="BytesmartPostResult">
		<id     property="postId"        column="post_id"       />
		<result property="postName"      column="post_name"     />
		<result property="postWeight"    column="post_weight"     />
		<result property="postType"      column="post_type"     />
		<result property="postStatus"    column="post_status"        />
		<result property="createBy"      column="create_by"     />
		<result property="createTime"    column="create_time"   />
		<result property="updateBy"      column="update_by"     />
		<result property="updateTime"    column="update_time"   />
		<result property="remark"        column="remark"        />
	</resultMap>
	
	<sql id="selectPostBo">
        select post_id, post_name, post_weight, post_type, post_status, create_by, create_time, remark
		from bytesmart_post
    </sql>


	<select id="selectPostAll" resultMap="BytesmartPostResult">
		<include refid="selectPostBo"/>
	</select>
	
	<select id="selectPostList" parameterType="long" resultMap="BytesmartPostResult">
	    <include refid="selectPostBo"/>
		<where>
			<if test="postName != null and postName != ''">
				AND post_name like concat('%', #{postName}, '%')
			</if>
			<if test="postStatus != null and postStatus != ''">
				AND post_status = #{postStatus}
			</if>
			<if test="postType != null and postType != ''">
				AND post_type like concat('%', #{postType}, '%')
			</if>
		</where>
	</select>


	<select id="selectPostById" parameterType="long" resultMap="BytesmartPostResult">
		<include refid="selectPostBo"/>
		where post_id = #{postId}
	</select>

	<update id="updatePost" parameterType="BytesmartPost">
		update bytesmart_post
		<set>
			<if test="postName != null and postName != ''">post_name = #{postName},</if>
			<if test="postType != null and postType != ''">post_type = #{postType},</if>
			<if test="postWeight != null">post_weight = #{postWeight},</if>
			<if test="postStatus != null and postStatus != ''">post_status = #{postStatus},</if>
			<if test="remark != null">remark = #{remark},</if>
			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
			update_time = sysdate()
		</set>
		where post_id = #{postId}
	</update>

	<insert id="insertPost" parameterType="BytesmartPost" useGeneratedKeys="true" keyProperty="postId">
		insert into bytesmart_post(
		<if test="postId != null and postId != 0">post_id,</if>
		<if test="postType != null and postType != ''">post_type,</if>
		<if test="postName != null and postName != ''">post_name,</if>
		<if test="postWeight != null">post_weight,</if>
		<if test="postStatus != null and postStatus != ''">post_status,</if>
		<if test="remark != null and remark != ''">remark,</if>
		<if test="createBy != null and createBy != ''">create_by,</if>
		create_time
		)values(
		<if test="postId != null and postId != 0">#{postId},</if>
		<if test="postType != null and postType != ''">#{postType},</if>
		<if test="postName != null and postName != ''">#{postName},</if>
		<if test="postWeight != null">#{postWeight},</if>
		<if test="postStatus != null and postStatus != ''">#{postStatus},</if>
		<if test="remark != null and remark != ''">#{remark},</if>
		<if test="createBy != null and createBy != ''">#{createBy},</if>
		sysdate()
		)
	</insert>

	<delete id="deletePostByIds" parameterType="Long">
		delete from bytesmart_post where post_id in
		<foreach collection="array" item="postId" open="(" separator="," close=")">
			#{postId}
		</foreach>
	</delete>


	<select id="selectPostListByEmployeeId" parameterType="Long" resultType="Long">
		select p.post_id
        from bytesmart_post p
	        left join bytesmart_employee_post ep on ep.post_id = p.post_id
	        left join bytesmart_employee e on e.employee_id = ep.employee_id
	    where e.employee_id = #{employeeId}
	</select>

	<select id="selectPostListByUserName" parameterType="String" resultMap="BytesmartPostResult">
		select p.post_id, p.post_name, p.post_type
		from bytesmart_post p
			 left join bytesmart_employee_post ep on ep.post_id = p.post_id
			 left join bytesmart_employee e on e.employee_id = ep.employee_id
		where e.username = #{userName}
	</select>





</mapper> 
