<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bytesmart.admincenter.mapper.BytesmartEmployeeRoleMapper">

	<resultMap type="BytesmartEmployeeRole" id="BytesmartEmployeeRoleResult">
		<result property="employeeId"     column="employee_id"      />
		<result property="roleId"     column="role_id"      />
	</resultMap>

	<delete id="deleteEmployeeRoleByEmployeeId" parameterType="Long">
		delete from bytesmart_employee_role where employee_id=#{employeeId}
	</delete>
	

	<delete id="deleteEmployeeRole" parameterType="Long">
 		delete from bytesmart_employee_role where employee_id in
 		<foreach collection="array" item="employeeId" open="(" separator="," close=")">
 			#{employeeId}
        </foreach> 
 	</delete>

	<select id="countEmployeeRoleByRoleId" resultType="Long">
	    select count(1) from bytesmart_employee_role where role_id=#{roleId}
	</select>


	<insert id="batchEmployeeRole">
		insert into bytesmart_employee_role(employee_id, role_id) values
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.employeeId},#{item.roleId})
		</foreach>
	</insert>
	
	<delete id="deleteEmployeeRoleListInfo" parameterType="BytesmartEmployeeRole">
		delete from bytesmart_employee_role where employee_id=#{employeeId} and role_id=#{roleId}
	</delete>
	
	<delete id="deleteEmployeeRoleInfos">
	    delete from bytesmart_employee_role where role_id=#{roleId} and employee_id in
 	    <foreach collection="employeeIds" item="employeeId" open="(" separator="," close=")">
 	        #{userId}
            </foreach> 
	</delete>
</mapper> 
