<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bytesmart.admincenter.mapper.BytesmartEmployeeMapper">
	<resultMap type="com.bytesmart.apisystem.domain.BytesmartEmployee" id="BytesmartEmployeeResult">
		<id     property="employeeId"            column="employee_id"      />
		<result property="deptId"                column="dept_id"      />
		<result property="userName"              column="username"    />
		<result property="employeeName"          column="employee_name"    />
		<result property="employeeenglishName"   column="employee_english_name"    />
		<result property="employeeEmail"         column="employee_email"        />
		<result property="demployeeWeight"       column="employee_weight"  />
		<result property="employeeGender"        column="employee_gender"  />
		<result property="employeeIsmarital"     column="employee_ismarital"  />
		<result property="demployeeNo"           column="employee_no"  />
		<result property="demployeeAge"          column="employee_age"  />
		<result property="password"              column="password"  />
		<result property="employeeType"          column="employee_type"  />
		<result property="employeeMobile"        column="employee_mobile"    />
		<result property="officePhone"           column="office_phone"     />
		<result property="employeeBirthdate"     column="employee_birthdate"   />
		<result property="employmentDate"        column="employment_date"    />
		<result property="employeeAddress"       column="employee_address"    />
		<result property="employeeAvatar"        column="employee_avatar"    />
		<result property="employeeStatus"        column="employee_status"     />
		<result property="delFlag"               column="del_flag"     />
		<result property="loginIp"               column="login_ip"     />
		<result property="loginDate"             column="login_date"   />
		<result property="createBy"              column="create_by"    />
		<result property="createTime"            column="create_time"  />
		<result property="updateBy"              column="update_by"    />
		<result property="updateTime"            column="update_time"  />
		<result property="remark"                column="remark"       />
		<association property="dept"    javaType="com.bytesmart.apisystem.domain.BytesmartDept"         resultMap="deptResult" />
		<collection  property="roles"   javaType="java.util.List"  resultMap="RoleResult" />
	</resultMap>

	<resultMap id="deptResult" type="com.bytesmart.apisystem.domain.BytesmartDept">
		<id     property="deptId"    column="dept_id"     />
		<result property="parentId"  column="parent_id"   />
		<result property="deptName"  column="dept_name"   />
		<result property="ancestors" column="ancestors"   />
		<result property="deptWeight"  column="dept_weight"   />
		<result property="deptLeader"    column="dept_leader"      />
		<result property="deptMobile"    column="dept_mobile"      />
		<result property="deptEmail"    column="dept_email"      />
		<result property="deptStatus"    column="dept_status" />
	</resultMap>

	<resultMap id="RoleResult" type="com.bytesmart.apisystem.domain.BytesmartRole">
		<id     property="roleId"             column="role_id"               />
		<result property="roleName"           column="role_name"             />
		<result property="roleKey"            column="role_key"              />
		<result property="roleWeight"         column="role_weight"           />
		<result property="dataScope"          column="data_scope"            />
		<result property="menuCheckStrictly"  column="menu_check_strictly"   />
		<result property="deptCheckStrictly"  column="dept_check_strictly"   />
		<result property="roleStatus"         column="role_status"           />
	</resultMap>

	<sql id="selectEmployeeVo">
        select e.employee_id, e.dept_id, e.username, e.employee_name, e.employee_english_name, e.employee_email, e.employee_avatar, e.employee_mobile, e.employee_weight, e.employee_no, e.employee_age, e.employee_type, e.password, e.employee_address, e.employee_type, e.office_phone, e.employee_birthdate, e.employment_date, e.employee_ismarital, e.employee_status, e.del_flag, e.login_ip, e.login_date, e.create_by, e.create_time, e.remark,
        d.dept_id, d.parent_id, d.ancestors, d.dept_name, d.dept_weight, d.dept_leader, d.dept_mobile, d.dept_email, dept_status,
        r.role_id, r.role_name, r.role_key, r.role_weight, r.data_scope, role_status
        from bytesmart_employee e
		    left join bytesmart_dept d on e.dept_id = d.dept_id
		    left join bytesmart_employee_role er on e.employee_id = er.employee_id
		    left join bytesmart_role r on r.role_id = er.role_id
    </sql>
	<select id="selectEmployeeList" parameterType="com.bytesmart.apisystem.domain.BytesmartEmployee" resultMap="BytesmartEmployeeResult">
		select e.employee_id, e.dept_id, e.username, e.employee_name, e.employee_english_name, e.employee_email, e.employee_avatar, e.employee_mobile, e.employee_weight, e.employee_no, e.employee_age, e.employee_type, e.employee_address, e.employee_type, e.office_phone, e.employee_birthdate, e.employment_date, e.employee_ismarital, e.employee_status, e.del_flag, e.login_ip, e.login_date, e.create_by, e.create_time, e.remark, d.dept_name, d.dept_leader from bytesmart_employee e
		left join bytesmart_dept d on e.dept_id = d.dept_id
		where e.del_flag = '0'
		<if test="employeeId != null and employeeId != 0">
			AND e.employee_id = #{employeeId}
		</if>
		<if test="userName != null and userName != ''">
			AND e.username like concat('%', #{userName}, '%')
		</if>
		<if test="employeeStatus != null and employeeStatus != ''">
			AND e.employee_status = #{employeeStatus}
		</if>
		<if test="employeeenglishName != null and employeeenglishName != ''">
			AND e.employee_english_name = #{employeeenglishName}
		</if>
		<if test="employeeEmail != null and employeeEmail != ''">
			AND e.employee_email = #{employeeEmail}
		</if>
		<if test="employeeBirthdate != null and employeeBirthdate != ''">
			AND e.employee_birthdate = #{employeeBirthdate}
		</if>
		<if test="employeeIsmarital != null and employeeIsmarital != ''">
			AND e.employee_ismarital = #{employeeIsmarital}
		</if>
		<if test="demployeeNo != null and demployeeNo != ''">
			AND e.employee_no = #{demployeeNo}
		</if>
		<if test="employmentDate != null and employmentDate != ''">
			AND e.employment_date = #{employmentDate}
		</if>
		<if test="employmentDate != null and employmentDate != ''">
			AND e.employment_date = #{employmentDate}
		</if>
		<if test="employeeAddress != null and employeeAddress != ''">
			AND e.employee_address = #{employeeAddress}
		</if>
		<if test="employmentDate != null and employmentDate != ''">
			AND e.employment_date = #{employmentDate}
		</if>
		<if test="employeeMobile != null and employeeMobile != ''">
			AND e.employee_mobile like concat('%', #{employeeMobile}, '%')
		</if>
		<if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
			AND date_format(e.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
		</if>
		<if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
			AND date_format(e.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
		</if>
		<if test="deptId != null and deptId != 0">
			AND (e.dept_id = #{deptId} OR e.dept_id IN ( SELECT d.dept_id FROM bytesmart_dept d WHERE find_in_set(#{deptId}, ancestors) ))
		</if>
		<!-- 数据范围过滤 -->
		${params.dataScope}
	</select>

	<select id="selectEmployeeById" parameterType="integer" resultMap="BytesmartEmployeeResult">
		<include refid="selectEmployeeVo"/>
		where e.employee_id = #{employeeId}
	</select>

	<insert id="insertEmployee" parameterType="com.bytesmart.apisystem.domain.BytesmartEmployee" useGeneratedKeys="true" keyProperty="employeeId">
		insert into bytesmart_employee(
		<if test="employeeId != null and employeeId != 0">employee_id,</if>
		<if test="deptId != null and deptId != 0">dept_id,</if>
		<if test="userName != null and userName != ''">username,</if>
		<if test="employeeName != null and employeeName != ''">employee_name,</if>
		<if test="employeeenglishName != null and employeeenglishName != ''">employee_english_name,</if>
		<if test="employeeEmail != null and employeeEmail != ''">employee_email,</if>
		<if test="employeeAvatar != null and employeeAvatar != ''">employee_avatar,</if>
		<if test="employeeMobile != null and employeeMobile != ''">employee_mobile,</if>
		<if test="officePhone != null and officePhone != ''">office_phone,</if>
		<if test="demployeeWeight != null and demployeeWeight != ''">employee_weight,</if>
		<if test="employeeGender != null and employeeGender != ''">employee_gender,</if>
		<if test="employeeIsmarital != null and employeeIsmarital != ''">employee_ismarital,</if>
		<if test="demployeeAge != null and demployeeAge != ''">employee_age,</if>
		<if test="employeeType != null and employeeType != ''">employee_type,</if>
		<if test="employeeAddress != null and employeeAddress != ''">employee_address,</if>
		<if test="employeeBirthdate != null and employeeBirthdate != ''">employee_birthdate,</if>
		<if test="employmentDate != null and employmentDate != ''">employment_date,</if>
		<if test="password != null and password != ''">password,</if>
		<if test="employeeStatus != null and employeeStatus != ''">employee_status,</if>
		<if test="createBy != null and createBy != ''">create_by,</if>
		<if test="remark != null and remark != ''">remark,</if>
		create_time
		)values(
		<if test="employeeId != null and employeeId != ''">#{employeeId},</if>
		<if test="deptId != null and deptId != ''">#{deptId},</if>
		<if test="userName != null and userName != ''">#{userName},</if>
		<if test="employeeName != null and employeeName != ''">#{employeeName},</if>
		<if test="employeeenglishName != null and employeeenglishName != ''">#{employeeenglishName},</if>
		<if test="employeeEmail != null and employeeEmail != ''">#{employeeEmail},</if>
		<if test="employeeAvatar != null and employeeAvatar != ''">#{employeeAvatar},</if>
		<if test="employeeMobile != null and employeeMobile != ''">#{employeeMobile},</if>
		<if test="officePhone != null and officePhone != ''">officePhone,</if>
		<if test="demployeeWeight != null and demployeeWeight != ''">demployeeWeight,</if>
		<if test="employeeGender != null and employeeGender != ''">#{employeeGender},</if>
		<if test="employeeIsmarital != null and employeeIsmarital != ''">#{employeeIsmarital},</if>
		<if test="demployeeAge != null and demployeeAge != ''">#{demployeeAge},</if>
		<if test="employeeType != null and employeeType != ''">#{employeeType},</if>
		<if test="employeeAddress != null and employeeAddress != ''">#{employeeAddress},</if>
		<if test="employeeBirthdate != null and employeeBirthdate != ''">#{employeeBirthdate},</if>
		<if test="employmentDate != null and employmentDate != ''">#{employeeAddress},</if>
		<if test="password != null and password != ''">#{password},</if>
		<if test="employeeStatus != null and employeeStatus != ''">#{employeeStatus},</if>
		<if test="createBy != null and createBy != ''">#{createBy},</if>
		<if test="remark != null and remark != ''">#{remark},</if>
		sysdate()
		)
	</insert>

	<update id="updateEmployee" parameterType="com.bytesmart.apisystem.domain.BytesmartEmployee">
		update bytesmart_employee
		<set>
			<if test="deptId != null and deptId != 0">dept_id = #{deptId},</if>
			<if test="userName != null and userName != ''">username = #{userName},</if>
			<if test="employeeName != null and employeeName != ''">employee_english_name = #{employeeName},</if>
			<if test="employeeenglishName != null and employeeenglishName != ''">employee_english_name = #{employeeName},</if>
			<if test="demployeeWeight != null and demployeeWeight != ''">employee_weight = #{demployeeWeight},</if>
			<if test="employeeGender != null and employeeGender != ''">employee_gender = #{employeeGender},</if>
			<if test="employeeIsmarital != null and employeeIsmarital != ''">employee_ismarital = #{employeeIsmarital},</if>
			<if test="demployeeNo != null and demployeeNo != ''">employee_no = #{demployeeNo},</if>
			<if test="demployeeAge != null and demployeeAge != ''">employee_age = #{demployeeAge},</if>
			<if test="employeeType != null and employeeType != ''">employee_type = #{employeeType},</if>
			<if test="employeeMobile != null and employeeMobile != ''">employee_mobile = #{employeeMobile},</if>
			<if test="officePhone != null and officePhone != ''">office_phone = #{officePhone},</if>
			<if test="employeeAddress != null and employeeAddress != ''">employee_address = #{employeeAddress},</if>
			<if test="email != null ">email = #{email},</if>
			<if test="phonenumber != null ">phonenumber = #{phonenumber},</if>
			<if test="sex != null and sex != ''">sex = #{sex},</if>
			<if test="avatar != null and avatar != ''">avatar = #{avatar},</if>
			<if test="password != null and password != ''">password = #{password},</if>
			<if test="status != null and status != ''">status = #{status},</if>
			<if test="loginIp != null and loginIp != ''">login_ip = #{loginIp},</if>
			<if test="loginDate != null">login_date = #{loginDate},</if>
			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
			<if test="remark != null">remark = #{remark},</if>
			update_time = sysdate()
		</set>
		where employee_id = #{employeeId}
	</update>







</mapper> 
