<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bytesmart.webtask.mapper.BytesmartTasksAssignedMapper">

    <resultMap type="BytesmartTasksAssigned" id="BytesmartTasksAssignedResult">
        <result property="tId"     column="tid"      />
        <result property="assignedId"     column="assigned_id"      />
    </resultMap>
</mapper>
